@import '../_vars';

.sm-slider {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;

  .slides-wrapper {
    display: flex;
    justify-content: center;
    overflow: hidden;

    .slides {
      display: flex;

      will-change: transform;
      transform: translateX(0);
      transition: transform 300ms ease-in-out;

      .slide {
        flex: 1 0;
      }
    }
  }

  .arrow-left,
  .arrow-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 48px;
  }

  .nav {
    .arrow-left {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: @arrow-width;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .arrow-right {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: @arrow-width;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // Configurations
  &.offset-arrows .slides-wrapper {
      margin: 0 @arrow-width;
  }

}
