@import '../vars';

.sm-slider {
  position: relative;
  display: flex;
  align-items: stretch;
  justify-content: center;

  &.cloaked {
    visibility: hidden;
  }

  .slides-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;

    .slides {
      display: flex;

      &.animatable {
        will-change: transform;
        transform: translate(0, 0);
        transition: transform 300ms ease-in-out;
      }

      .slide {
        flex: 1 0 auto;
        pointer-events: none;

        * {
          pointer-events: all;
        }
      }
    }
  }

  .arrow-base {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 48px;
    cursor: pointer;
    background: url('../../assets/arrow.png') center center no-repeat;
    z-index: 1;
    user-select: none;
  }

  .arrow-inset {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 48px;
  }

  .arrow-left {
    .arrow-base();

    &.inset {
      .arrow-inset();
      left: 0;
    }
  }

  .arrow-right {
    .arrow-base();
    transform: rotate(180deg);

    &.inset {
      .arrow-inset();
      right: 0;
    }
  }

  .disabled {
    visibility: hidden;
    cursor: auto;
  }

  .dot-nav {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;

    .dot {
      border: 1px solid black;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      cursor: pointer;

      & + .dot {
        margin-left: 6px;
      }

      &.active {
        background-color: #000;
      }
    }
  }

  &--vertical {
    height: 100%;

    .slides {
      flex-direction: column;

      .slide {
        display: flex;
        min-height: 0;
        min-width: 0;
      }
    }

    .arrow-inset {
      position: absolute;
      top: auto;
      bottom: auto;
      left: 0;
      right: 0;
      height: 48px;
      width: auto;
    }

    .arrow-left {
      .arrow-base();

      &.inset {
        .arrow-inset();
        top: 0;
      }
    }

    .arrow-right {
      .arrow-base();
      transform: rotate(180deg);

      &.inset {
        .arrow-inset();
        bottom: 0;
      }
    }
  }
}
